.tweets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tweet {
    border: solid 1px gray;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}